@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
  /* background-color: #53144d; */
  margin: 0;
  font-family: "Roboto, sans-serif";
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1; 
}
